<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.liquid" %}
    <meta name="description" content="{{ page.description  }}">
    <meta name="category" content="{{ page.categories | join: ", " }}">
  </head>
  <body>
    <header>
      {% include "header.liquid" %}
    </header>
    <main>
      <article>
        <div>  
          <h2>{{ page.title }}</h2>
          <time pubdate="pubdate">Published at: {{ page.published_date | date: "%Y/%m/%d %H:%M:%S" }}</time>
          {% if page.categories.size > 0 %}<span>- Category: {{ page.categories | join: ", " }}</span> {% endif %}
        </div>
        <p>{{ page.description  }}</p>
        {{ page.content }}
      </article>
    </main>
    <footer>
      {% include "footer.liquid" %}
    </footer>
  </body>
</html>